p {
    margin-top: 8px;
}
.h2-row {
    display: flex;
    margin-top: 48px;
    width: 100%;
    gap: 24px;
    align-items: center;
}

.h3-row {
    display: flex;
    width: 100%;
    gap: 24px;
    margin-top: 20px;
    align-items: center;
}

.h3-row .see-work-subpage {
    height: 25px;
}

.see-work-subpage {
    font-size: 1.2em;
    width: auto;
    padding: 4px 12px;
    border: 1px white solid;
    padding: 4px 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.see-work-subpage-alone {
    font-size: 1.2em;
    width: 200px;
    padding: 4px 12px;
    border: 1px white solid;
    padding: 4px 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0;
}


.job-banner {
    width: 100%;
    margin-bottom: 32px;
}

.job-img {
    width: 100%;
    margin-top: 16px;
}

.job-banner-mobile {
    display: none;
}
@media screen and (max-width: 1000px) {
    .job-banner {
        display: none;
    }
    .job-banner-mobile {
        display: block;
        width: 100%;
        margin-bottom: 24px;
    }
    p {
        margin-top: 16px;
    }
    
}
