p {
    margin-top: 12px;
}
.h2-row {
    display: flex;
    margin-top: 48px;
    width: 100%;
    gap: 24px;
    align-items: center;
}

.h3-row {
    display: flex;
    width: 100%;
    gap: 24px;
    margin-top: 20px;
    align-items: center;
}

.h3-row .see-work-subpage {
    height: 25px;
}

.see-work-subpage {
    width: auto;
    padding: 4px 12px;
    border: 1px white solid;
    padding: 4px 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.job-banner {
    width: 100%;
    margin-bottom: 32px;
}

.job-img {
    width: 100%;
    margin-top: 16px;
}
